<%- include("./partials/header.ejs") %>

<% if(characters.length) { %>
<div class="row">
    <% characters.forEach(character => { %>
    <div class="card col s6">
        <div class="card-content">
            <span class="card-title"><%= character.name %></span>
            <p><%= character.ancestry %> <%= character.class %></p>
        </div>
        <div class="card-action">
            <a href="/kuthite/<%= character._id %>" class="btn-flat">Details</a>
            <a href="/kuthite/<%= character._id %>/edit" class="btn-flat"><i class="material-icons">edit</i></a>
            <button data-target="delete-<%= character._id %>"
                class="btn-flat modal-trigger material-icons red-text text-darken-2">delete</button>
        </div>
    </div>
    <div id="delete-<%= character._id %>" class="modal">
        <div class="modal-content">
            <form action="/kuthite/<%= character._id %>?_method=DELETE" method="POST">
                <p class="flow-text">This action can't be undone. Are you sure you want to delete
                    <%= character.name %>?</p>
                <btn class="btn modal-close waves-effect waves-green">Cancel</btn>
                <button class="btn waves-effect waves-red red darken-2" type="submit" name="action">Delete</button>
            </form>
        </div>
    </div>
    <% }) %>
</div>
<% } else { %>
<p class=" center-align flow-text">Looks like we don't have any characters yet.</p>
<% } %>
<%- include("./partials/script-footer.ejs") %>
<script>
    $(document).ready(function () {
        $(".modal").modal();
    });
</script>
<%- include("./partials/footer.ejs") %>