<%- include("./partials/header.ejs") %>
<h3><%= character.name %></h3>
<div class="row">
    <div class="col m6 s12">
        <p class="flow-text">Ancestry: <%= character.ancestry %></p>
        <p class="flow-text">Heritage: <%= character.heritage %></p>
        <p class="flow-text">Class: <%= character.class %></p>
        <% if(character.subclass1) { %>
        <p class="flow-text"><%= cls.subclass1Name %>: <%= character.subclass1 %></p>
        <% } %>
        <% if(character.subclass2) { %>
        <p class="flow-text"><%= cls.subclass2Name %>: <%= character.subclass2 %></p>
        <% } %>
    </div>
    <div class="col m6 s12">
        <p class="flow-text">
            Strength: <%= character.strength %>
        </p>
        <p class="flow-text">
            Dexterity: <%= character.dexterity %>
        </p>
        <p class="flow-text">
            Constitution: <%= character.constitution %>
        </p>
        <p class="flow-text">
            Intelligence: <%= character.intelligence %>
        </p>
        <p class="flow-text">
            Wisdom: <%= character.wisdom %>
        </p>
        <p class="flow-text">
            Charisma: <%= character.charisma %>
        </p>
    </div>
</div>
<div class="row right-align">
    <a href="/kuthite/<%= character._id %>/edit" class="btn"><i class="material-icons">edit</i></a>
    <button data-target="delete-modal"
        class="btn modal-trigger material-icons red darken-2">delete
    </button>
</div>
<div id="delete-modal" class="modal">
    <div class="modal-content">
        <form action="/kuthite/<%= character._id %>?_method=DELETE" method="POST">
            <p class="flow-text">This action can't be undone. Are you sure you want to delete
                <%= character.name %>?</p>
            <btn class="btn modal-close waves-effect waves-green">Cancel</btn>
            <button class="btn waves-effect waves-red red darken-2" type="submit" name="action">Delete</button>
        </form>
    </div>
</div>
<%- include("./partials/script-footer.ejs") %>
<script>
    $(document).ready(function () {
        $(".modal").modal();
    });
</script>
<%- include("./partials/footer.ejs") %>